<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Style.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <title>PERAK HOMEPAGE</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="container nav-wrapper">
                <a href="#" class="logo">PERAK<span>FTUI</span></a>
                <div class="menu-wrapper">
                    <ul class="menu">
                        <li class="menu-item"><a href="home" class="menu-link active">Home</a></li>
                        <li class="menu-item"><a href="login" class="menu-link">Login</a></li>
                        <li class="menu-item"><a href="register" class="menu-link">Register</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">About us</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Logout</a></li>
                    </ul>
                    <a href="rent" class="btn-member">Start Renting</a>
                </div>
                <div class="menu-toggle bx bxs-grid-alt">
                </div>
            </div>
        </nav>
    </header>
        <!-- Forms section -->
        <section>
            <form action="datepicker">
                <label for="datepick">Pick Date of Rent:</label>
                <input type="date" id="datepick" name="datepick">
            </form>
            <div class="timepick">
                <label for="timepick">Pick Time of Rent:</label>
                <input type="number" id="timepick" placeholder="7-22">
            </div>
            <div class="endtime">
                <label for="endtime">Until</label>
                <input type="number" id="endtime" placeholder="The end of the rent">
            </div>
            <div class="activityname">
                <label for="activityname">What are you going to do in the facility?</label>
                <input type="text" id="activityname" placeholder="e.g. Gathering, Outbount">
            </div>
            <div class="attendance">
                <label for="attendance">How many people will use the facility?</label>
                <input type="number" id="attendance" placeholder="10-1000">
            </div>
            <div class="letter">
                <label for="letter">Activity Letter</label>
                <input type="text" id="activityname" placeholder="input URL">
            </div>
            <div class="facilities">
                <label for="facilities">How many people will use the facility?</label>
                <textarea cols="30" rows="10" id="facilities" placeholder="Description"></textarea>
            </div>
            <div class="consumption">
                <label for="consumption">Consumption</label>
                <input type="text" id="consumption" placeholder="input URL">
            </div>
            <div>
                <input type="button" id="submitrent" value="Submit">
            </div>
        </section>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script>
            jQuery(document).ready(function ($) {
                var query = window.location.search.substring(1);
                var code = query.split("=");
                var room = code[1];
                var datepick, timepick, endtime, activityname, attendance, letter, facilities, consumption;
                $('#submitrent').click(function () {
                    datepick = $('#datepick').val().toString();
                    timepick = $('#timepick').val();
                    endtime = $('#endtime').val();
                    activityname = $('#activityname').val();
                    attendance = $('#attendance').val();
                    letter = $('#letter').val();
                    facilities = $('#facilities').val();
                    consumption = $('#consumption').val();
                    console.log(datepick);
                    $.post('/check', { room_id: room, start: timepick, end: endtime, date: datepick }, function (data) {
                        window.alert(data);
                    })
                });
            });
        </script>

        <!-- AOS -->
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init({
                duration: 1000
            });
        </script>

        <!-- Swiper JS -->
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script src="assets/js/main.js"></script>
</body>

</html>
