<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Outfit&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="css/Style.css">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e11_55><div class=e11_56><div  class="e11_57"></div><span  class="e11_58">PERAK-FTUI </span><div class=e11_59><span  class="e11_60">Login</span><span  class="e11_61">About us</span><span  class="e11_62">Register</span></div><span  class="e11_63">Peminjaman Ruangan Akademis/Non-Akademis
Fakultas Teknik, Universitas Indonesia </span></div><span  class="e16_15">WHICH FACILITY DO YOU WANT TO USE?</span><div class=e16_17><div  class="e16_3"></div><span  class="e16_16">Facility</span></div><div class=e17_18><div  class="e17_19"></div><span  class="e17_20">Time of the use</span></div></div>
          </body>
          </html>