<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Style.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <title>INI LOGINPAGE</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="container nav-wrapper">
                <a href="#" class="logo">PERAK<span>FTUI</span></a>
                <div class="menu-wrapper">
                    <ul class="menu">
                        <li class="menu-item"><a href="home" class="menu-link active">Home</a></li>
                        <li class="menu-item"><a href="login" class="menu-link">Login</a></li>
                        <li class="menu-item"><a href="register" class="menu-link">Register</a></li>
                        <li class="menu-item"><a href="aboutus" class="menu-link">About us</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Logout</a></li>
                    </ul>
                    <a href="rent" class="btn-member">Start Renting</a>
                </div>
                <div class="menu-toggle bx bxs-grid-alt">
                </div>
            </div>
        </nav>
    </header>
        
            <!-- START OF COMMENT -->
            <div class="loginbox" id="login">
                <div class="subheadertxt">
                    <b>Login</b>
                </div>
                <div class="basictxt">
                    Username:
                </div>
                <div>
                    <input type="text" class="inputbox" id="usernamelogin" placeholder="username">
                </div>
                <div class="basictxt">
                    Password:
                </div>
                <div>
                    <input type="password" class="inputbox" id="passwordlogin" placeholder="password">
                </div>
                <div>
                    <input type="button" class="button" id="submitslogin" value="Login">
                </div>
                <div class="subbasictxt">
                    Don't Have Account?
                    <a href="/register" class="link">Sign Up</a>
                </div>
            </div>
            <!-- END OF COMMENT -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>
        jQuery(document).ready(function($) {
            var username, pass;
            $('#submitslogin').click(function() {
                username = $('#usernamelogin').val();
                pass = $('#passwordlogin').val();
                    
                $.post('/login', { username: username, password: pass }, function (data) {
                    console.log(data);
                    if (data === 'done') {
                        window.location.href = '/home';
                    }
                    else if (data === 'fail') {
                        window.alert('Login Gagal : Username Salah');
                    }
                    else if (data === 'fail1') {
                        window.alert('Login Gagal : Akun ditolak, silahkan hubungi admin');
                    }
                    else if (data === 'fail2') {
                        window.alert('Login Gagal : Password Salah');
                    } else {
                        window.alert("Something Wrong in Login.ejs");
                    }
                });
            });
        });
    </script>


    <!-- AOS -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 1000
        });
    </script>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>
