<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <title>PERAK MAINPAGE</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="container nav-wrapper">
                <a href="#" class="logo">PERAK<span>FTUI</span></a>
                <div class="menu-wrapper">
                    <ul class="menu">
                        <li class="menu-item"><a href="home" class="menu-link active">Home</a></li>
                        <li class="menu-item"><a href="login" class="menu-link">Login</a></li>
                        <li class="menu-item"><a href="register" class="menu-link">Register</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">About us</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Contact</a></li>
                    </ul>
                    <a href="rent" class="btn-member">Start Renting</a>
                </div>
                <div class="menu-toggle bx bxs-grid-alt">
                </div>
            </div>
        </nav>
        
        <!--<br>
        <a href="https://drive.google.com/uc?export=download&id=1BIMOT2aD1BBcTLBsTU734l5I8sEdKect">
            <img src="https://drive.google.com/uc?export=view&id=1BIMOT2aD1BBcTLBsTU734l5I8sEdKect">
        </a>
        <div class="Makara-Wrapper" id="Makara">
            <img SRC = "images/makara-ui-ft.png">
            
        </div>
    -->


        <section class="home" id="home">
            <div class="container home-wrapper">
                <div class="content-left" data-aos="fade-right">
                    <h1 class="heading">FACILITY RENTING  MADE EASIER with PERAK<span>FTUI</span></h1>
                    <p class="subheading">
                        PERAK make room rents easier for many people to use it and improve the accessibility of the facilities that are available in the Faculty of Engineering.
                    </p>
                    <div class="form-panel">
                        <img src="assets/img/form.png" alt="">
                        <div class="title-form">
                            <p>Get the schedule</p>
                        </div>
                        <div class="form-location">
                            <i class='bx bxs-map loc'></i>
                            <div class="location">
                                <p>Location <i class='bx bx-chevron-down'></i></p>
                                <select>
                                    <option value="">Gedung S</option>
                                    <option value="">Gedung K</option>
                                    <option value="">MRPQ</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-date">
                            <i class='bx bxs-calendar-alt cal'></i>
                            <div class="date">
                                <p>Date <i class='bx bx-chevron-down'></i></p>
                                <input type="date">
                            </div>
                        </div>
                        <div class="btn-search">
                            <i class='bx bx-search'></i>
                        </div>
                    </div>
                    <p class="sugestion">Popular search : Laptek, Gedung S, Gedung K</p>
                </div>
                <div class="content-right" data-aos="fade-left">
                    <div class="img-wrapper">
                        <img src="assets/img/hero-tavel.png" alt="">
                    </div>

                </div>

            </div>
        </section>
    </header>

    <!-- Produk start -->
    <section class="produk">
        <div class="container produk-wrapper">
            <div class="row1">
                <div class="title-produk" data-aos="fade-right">
                    <p class="label-produk">TOP DESTINATION</p>
                    <h1 class="heading-produk">Explore Top Destination</h1>
                </div>
                <div class="toggle-slider" data-aos="fade-left">
                    <i class='bx bxs-chevron-left-circle'></i>
                    <i class='bx bxs-chevron-right-circle'></i>
                </div>
            </div>
            <div class="row2">
                <!-- Swiper -->
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide-card-produk">
                            <img src="https://drive.google.com/uc?export=view&id=1tWW_jYpcXEyC6LQkMHgwFS5m7JTjGdqq">
                            <div class="detail-produk">
                                <div class="kategori">
                                    <p class="label-kategori">Beach</p>

                                    <p class="price">$300</p>
                                </div>
                                <div class="title-card">
                                    <h1>Kuta, Indonesia</h1>
                                </div>
                                <div class="review">
                                    <div class="star">
                                        <i class='bx bxs-star'></i> 5.0
                                    </div>
                                    <p>1.6k reviewer</p>
                                </div>
                                <div class="body-card">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta adipisci qui
                                        nesciunt
                                        totam
                                        vel nihil id est corporis voluptatum sunt.</p>
                                </div>
                                <div class="btn-produk">
                                    <a href="#">Detail</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide card-produk">
                            <img src="assets/img/produk.png" alt="">
                            <div class="detail-produk">
                                <div class="kategori">
                                    <p class="label-kategori">Beach</p>

                                    <p class="price">$300</p>
                                </div>
                                <div class="title-card">
                                    <h1>Kuta, Indonesia</h1>
                                </div>
                                <div class="review">
                                    <div class="star">
                                        <i class='bx bxs-star'></i> 5.0
                                    </div>
                                    <p>1.6k reviewer</p>
                                </div>
                                <div class="body-card">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta adipisci qui
                                        nesciunt
                                        totam
                                        vel nihil id est corporis voluptatum sunt.</p>
                                </div>
                                <div class="btn-produk">
                                    <a href="#">Detail</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide card-produk">
                            <img src="assets/img/produk.png" alt="">
                            <div class="detail-produk">
                                <div class="kategori">
                                    <p class="label-kategori">Beach</p>

                                    <p class="price">$300</p>
                                </div>
                                <div class="title-card">
                                    <h1>Kuta, Indonesia</h1>
                                </div>
                                <div class="review">
                                    <div class="star">
                                        <i class='bx bxs-star'></i> 5.0
                                    </div>
                                    <p>1.6k reviewer</p>
                                </div>
                                <div class="body-card">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta adipisci qui
                                        nesciunt
                                        totam
                                        vel nihil id est corporis voluptatum sunt.</p>
                                </div>
                                <div class="btn-produk">
                                    <a href="#">Detail</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide card-produk">
                            <img src="assets/img/produk.png" alt="">
                            <div class="detail-produk">
                                <div class="kategori">
                                    <p class="label-kategori">Beach</p>

                                    <p class="price">$300</p>
                                </div>
                                <div class="title-card">
                                    <h1>Kuta, Indonesia</h1>
                                </div>
                                <div class="review">
                                    <div class="star">
                                        <i class='bx bxs-star'></i> 5.0
                                    </div>
                                    <p>1.6k reviewer</p>
                                </div>
                                <div class="body-card">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta adipisci qui
                                        nesciunt
                                        totam
                                        vel nihil id est corporis voluptatum sunt.</p>
                                </div>
                                <div class="btn-produk">
                                    <a href="#">Detail</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide card-produk">
                            <img src="assets/img/produk.png" alt="">
                            <div class="detail-produk">
                                <div class="kategori">
                                    <p class="label-kategori">Beach</p>

                                    <p class="price">$300</p>
                                </div>
                                <div class="title-card">
                                    <h1>Kuta, Indonesia</h1>
                                </div>
                                <div class="review">
                                    <div class="star">
                                        <i class='bx bxs-star'></i> 5.0
                                    </div>
                                    <p>1.6k reviewer</p>
                                </div>
                                <div class="body-card">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta adipisci qui
                                        nesciunt
                                        totam
                                        vel nihil id est corporis voluptatum sunt.</p>
                                </div>
                                <div class="btn-produk">
                                    <a href="#">Detail</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide card-produk">
                            <img src="assets/img/produk.png" alt="">
                            <div class="detail-produk">
                                <div class="kategori">
                                    <p class="label-kategori">Beach</p>

                                    <p class="price">$300</p>
                                </div>
                                <div class="title-card">
                                    <h1>Kuta, Indonesia</h1>
                                </div>
                                <div class="review">
                                    <div class="star">
                                        <i class='bx bxs-star'></i> 5.0
                                    </div>
                                    <p>1.6k reviewer</p>
                                </div>
                                <div class="body-card">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta adipisci qui
                                        nesciunt
                                        totam
                                        vel nihil id est corporis voluptatum sunt.</p>
                                </div>
                                <div class="btn-produk">
                                    <a href="#">Detail</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide card-produk">
                            <img src="assets/img/produk.png" alt="">
                            <div class="detail-produk">
                                <div class="kategori">
                                    <p class="label-kategori">Beach</p>

                                    <p class="price">$300</p>
                                </div>
                                <div class="title-card">
                                    <h1>Kuta, Indonesia</h1>
                                </div>
                                <div class="review">
                                    <div class="star">
                                        <i class='bx bxs-star'></i> 5.0
                                    </div>
                                    <p>1.6k reviewer</p>
                                </div>
                                <div class="body-card">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta adipisci qui
                                        nesciunt
                                        totam
                                        vel nihil id est corporis voluptatum sunt.</p>
                                </div>
                                <div class="btn-produk">
                                    <a href="#">Detail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Produk end -->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        jQuery(document).ready(function($) {
            var username, pass;
            $('#submitslogin').click(function() {
                username = $('#usernamelogin').val();
                pass = $('#passwordlogin').val();
                    
                $.post('/login', { username: username, pass: pass }, function(data) {
                    if (data === 'done') {
                        window.location.href = '/home';
                        window.alert('Login Sukses');
                    }
                    else if (data === 'fail'){
                        window.alert('Login Gagal : Username Salah');
                    } 
                    else if (data === 'fail2'){
                        window.alert('Login Gagal : Password Salah');
                    }
                });
            });
        });
    </script>


    <!-- AOS -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 1000
        });
    </script>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>
