<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Style2.css">
    <link rel="stylesheet" href="css/Style.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="icon" href="https://drive.google.com/uc?export=view&id=1hFohbsBiFn4ucCA98l67d75zvn9U_y-X">
    <title>Perak FTUI</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="container nav-wrapper">
                <a href="home" class="logo">PERAK<span>FTUI</span></a>
                <div class="menu-wrapper">
                    <ul class="menu">
                        <li class="menu-item"><a href="home" class="menu-link">Home</a></li>
                        <li class="menu-item"><a href="order-details" class="menu-link active">Order</a></li>
                        <li class="menu-item"><a href="profile" class="menu-link">Profile</a></li>
                        <li class="menu-item"><a href="logout" class="menu-link">Logout</a></li>
                    </ul>
                    <a href="rent" class="btn-member">Start Renting</a>
                </div>
                <div class="menu-toggle bx bxs-grid-alt">
                </div>
            </div>
        </nav>



        <div class="order-table">
            <table style=" width: 100% ">
                <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>Facility</th>
                        <th>Location</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Activity</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody id="table_data">
                </tbody>
            </table>
        </div>

    </header>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $.post('/usr_order', {}, function (data) {
                if (data !== 'Something Error') {
                    var html = '';
                    console.log(data);
                    for (i = 0; i < data.length; i += 1) {
                        html += `<tr>
                        <td>${data[i].now.slice(0, 8)}</td>
                        <td>${data[i].room_name}</td>
                        <td>${data[i].room_building}</td>
                        <td>${data[i].book_date.slice(0, 10)}</td>
                        <td>${data[i].book_time_start}:00 - ${data[i].book_time_start + data[i].book_duration}:00</td>
                        <td>${data[i].activity_name}</td>
                        <td>${data[i].stats}</td>
                        <br><br>
                    </tr>`
                    }
                    document.getElementById('table_data').innerHTML = html;
                }
                else {
                    window.alert('Something Error');
                }
            })
        });
    </script>

    <!-- AOS -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 1000
        });
    </script>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>
