<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="css/Style.css">
  </head>
  <body>

    <header>
      <nav class="navbar">
          <div class="container nav-wrapper">
              <a href="home" class="logo">PERAK<span>FTUI</span></a>
              <div class="menu-wrapper">
                  <ul class="menu">
                      <li class="menu-item"><a href="home" class="menu-link active">Home</a></li>
                      <li class="menu-item"><a href="login" class="menu-link">Login</a></li>
                      <li class="menu-item"><a href="register" class="menu-link">Register</a></li>
                      <li class="menu-item"><a href="aboutus" class="menu-link">About us</a></li>
                      <li class="menu-item"><a href="#" class="menu-link">Logout</a></li>
                  </ul>
                  <a href="rent" class="btn-member">Start Renting</a>
              </div>
              <div class="menu-toggle bx bxs-grid-alt">
              </div>
          </div>
      </nav>

      <div class="text-center">

        <form style="max-width: 480px; margin: auto;">
          <h3 class="h1 mb-4" style="font-family: Raleway; color: white;">REGISTER</h3>
          
          <input type="email" id="email" class="form-control" placeholder="Email" required autofocus>
          
          <input type="number" id="whatsapp" class="form-control" placeholder="Whatsapp Number (62+)" required autofocus>
          
          <input type="text" id="usernames" class="form-control" placeholder="Username" required autofocus>
          
          <input type="password" id="passwords" class="form-control" placeholder="Password" required autofocus>
          
          <input type="password" id="temppass" class="form-control" placeholder="Confirm Password" required autofocus>

          <select id="role" class="form-control" placeholer="Choose Role" required autofocus>
            <option value="FTUI-STUDENTS">FTUI-STUDENTS</option>
            <option value="LECTURER">LECTURER</option>
            <option value="NON-FTUI STUDENTS">NON-FTUI STUDENTS</option>
          </select>    
        
          <div class="validate-btn text-center mt-2">
            <input type="button" class="btn btn-lg btn-secondary btn-block" id="validate">Validate Data</input>
          </div>

          <input type="number" id="code" class="form-control" placeholder="Check Email" required autofocus>
          

          <div class="register-btn mt-2">
            <input type="button" class="btn btn-lg btn-secondary btn-block mt-10" id="submits">Register</input>
          </div>
          
        </form>

      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script>
        jQuery(document).ready(function ($) {
            var username, pass, email, whatsapp, stats, adm, role, code;
            var disabled = $("#usernames").prop('disabled');
            var disabled = $("#email").prop('disabled');
            var disabled = $("#whatsapp").prop('disabled');
            $('#validate').click(function () {
                if (disabled) {
                    $("#usernames").prop('disabled', false);
                    $("#email").prop('disabled', false);
                    $("#whatsapp").prop('disabled', false);        // if disabled, enable
                }
                else {
                    $("#usernames").prop('disabled', true);        // if enabled, disable
                    $("#email").prop('disabled', true); 
                    $("#whatsapp").prop('disabled', true); 
                }
                username = $('#usernames').val();
                email = $('#email').val();
                whatsapp = $('#whatsapp').val();
                $.post('/validation', { username: username, email: email, whatsapp: whatsapp }, function (data) {     
                window.alert(data);
                }); 
            });

            $('#submits').click(function () {
                username = $('#usernames').val();
                pass = $('#passwords').val();
                pass2 = $('#temppass').val();
                email = $('#email').val();
                whatsapp = $('#whatsapp').val();
                role = $('#role').val();
                code = $('#code').val();
                if (pass === pass2){
                    $.post('/register', { username: username, password: pass, email: email, whatsapp: whatsapp, role: role, verificationCode: code }, function (data) {
                        if (data === 'done') {
                            window.alert('Registration Success, Please Login');
                            window.location.href = '/login';
                        } else if (data === 'Verification failed'){
                            window.alert('Registration Failed: Wrong Verification');
                        } else {
                            window.alert('Registration Failed: Something Error');
                        }
                    });
                }
                else{
                    window.alert("Password doesn't macth");
                }

                
            });
        });
    </script>

  </body>
</html>