<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Style.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <title>INI REGISTER PAGE</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="container nav-wrapper">
                <a href="#" class="logo">PERAK<span>FTUI</span></a>
                <div class="menu-wrapper">
                    <ul class="menu">
                        <li class="menu-item"><a href="home" class="menu-link active">Home</a></li>
                        <li class="menu-item"><a href="login" class="menu-link">Login</a></li>
                        <li class="menu-item"><a href="register" class="menu-link">Register</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">About us</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Logout</a></li>
                    </ul>
                    <a href="rent" class="btn-member">Start Renting</a>
                </div>
                <div class="menu-toggle bx bxs-grid-alt">
                </div>
            </div>
        </nav>

<body>
</div>
<section class="product-list ">
    <div>
      <h1 class="align-center">
        Facilities
      </h1>
    </div>
    <!--
        
    
    <div class="searchbar">
        <input class="search-input" placeholder="Search">
        <span class="search-icon"></span>
      </div>
    
        -->

    <div class="product-container" id="rooms">
    </div>
    
  </section>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            var username, pass, email, whatsapp, stats, adm, role, code;
            var disabled = $("#usernames").prop('disabled');
            var disabled = $("#email").prop('disabled');
            var disabled = $("#whatsapp").prop('disabled');
            $('#validate').click(function () {
                if (disabled) {
                    $("#usernames").prop('disabled', false);
                    $("#email").prop('disabled', false);
                    $("#whatsapp").prop('disabled', false);        // if disabled, enable
                }
                else {
                    $("#usernames").prop('disabled', true);        // if enabled, disable
                    $("#email").prop('disabled', true); 
                    $("#whatsapp").prop('disabled', true); 
                }
                username = $('#usernames').val();
                email = $('#email').val();
                whatsapp = $('#whatsapp').val();
                $.post('/validation', { username: username, email: email, whatsapp: whatsapp }, function (data) {     
                window.alert(data);
                }); 
            });

            $('#submits').click(function () {
                username = $('#usernames').val();
                pass = $('#passwords').val();
                pass2 = $('temppass').val();
                email = $('#email').val();
                whatsapp = $('#whatsapp').val();
                role = $('#role').val();
                code = $('#code').val();
                if (pass === pass2){
                    $.post('/register', { username: username, password: pass, email: email, whatsapp: whatsapp, role: role, verificationCode: code }, function (data) {
                        if (data === 'done') {
                            window.alert('Registration Success, Please Login');
                            window.location.href = '/login';
                        }   else {
                            window.alert('Registration Failed: Duplicate Input');
                        }
                    });
                }
                else{
                    window.alert("Password doesn't macth");
                }

                
            });
        });
        $.post('/getroom', {  }, function (data) {
            var tx = "";
            for (i = 0; i < data.length; i++) {
                tx += `
                        <div class="card">
                            <div class="title">${data[i].room_name} </div>
                            <div class="image">
                                <img src="https://drive.google.com/uc?export=view&id=${data[i].room_photo}" />
                            </div>
                            <div class="text">
                            </div>`
                console.log(data[i].availability);
                if (data[i].availability == 'MAINTENANCE') {
                    tx += `
                            <button class="buy-button details">
                                Maintenance
                            </button>
                        </div>`
                } else {
                    tx += `
                        <a href="details?id=${data[i].room_id}">
                            <button class="buy-button details" >
                                Rent Now
                            </button></a>
                        </div>`
                }
                    
            }
            document.getElementById("rooms").innerHTML = tx;
        });
    </script>
</body>

</html>
