.11_55 { 
	overflow:hidden;
}.e11_55 { 
	background-color:rgba(4.037507548928261, 5.4060060158371925, 38.25000151991844, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e11_56 { 
	width:1440px;
	height:203px;
	position:absolute;
	left:0px;
	top:0px;
}.e11_57 { 
	background-color:rgba(20.18749974668026, 19.262239895761013, 19.262239895761013, 1);
	width:1440px;
	height:203px;
	position:absolute;
	left:0px;
	top:0px;
}.e11_58 { 
	color:rgba(255, 255, 255, 1);
	width:435px;
	height:112px;
	position:absolute;
	left:188px;
	top:27px;
	font-family:Outfit;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}.e11_59 { 
	width:247px;
	height:23px;
	position:absolute;
	left:998px;
	top:72px;
}.e11_60 { 
	color:rgba(255, 255, 255, 1);
	width:45px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Outfit;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e11_61 { 
	color:rgba(255, 255, 255, 1);
	width:70px;
	height:23px;
	position:absolute;
	left:90px;
	top:0px;
	font-family:Outfit;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e11_62 { 
	color:rgba(255, 255, 255, 1);
	width:67px;
	height:23px;
	position:absolute;
	left:180px;
	top:0px;
	font-family:Outfit;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e11_63 { 
	color:rgba(255, 255, 255, 1);
	width:514px;
	height:59px;
	position:absolute;
	left:188px;
	top:125px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e16_15 { 
	color:rgba(255, 255, 255, 1);
	width:424px;
	height:174px;
	position:absolute;
	left:188px;
	top:326px;
	font-family:Outfit;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e16_17 { 
	width:345px;
	height:86px;
	position:absolute;
	left:188px;
	top:544px;
}.e16_3 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:345px;
	height:86px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:95px;
	border-top-right-radius:95px;
	border-bottom-left-radius:95px;
	border-bottom-right-radius:95px;
}.e16_16 { 
	color:rgba(4.037507548928261, 5.4060060158371925, 38.25000151991844, 1);
	width:76px;
	height:28px;
	position:absolute;
	left:135px;
	top:29px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e17_18 { 
	width:345px;
	height:86px;
	position:absolute;
	left:563px;
	top:544px;
}.e17_19 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:345px;
	height:86px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:95px;
	border-top-right-radius:95px;
	border-bottom-left-radius:95px;
	border-bottom-right-radius:95px;
}.e17_20 { 
	color:rgba(4.037507548928261, 5.4060060158371925, 38.25000151991844, 1);
	width:166px;
	height:28px;
	position:absolute;
	left:90px;
	top:29px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e17_21 { 
	background-color:rgba(4.037507548928261, 5.4060060158371925, 38.25000151991844, 1);
	width:15px;
	height:18px;
	position:absolute;
	left:406px;
	top:596px;
}.e17_23 { 
	background-color:rgba(4.037507548928261, 5.4060060158371925, 38.25000151991844, 1);
	width:15px;
	height:18px;
	position:absolute;
	left:828px;
	top:596px;
}